.burbujas {
    display: inline-block;
    font-family: arial;
    position: relative;
}

.burbujas img {
    position: relative;
    margin: 1em 0 0;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    z-index: 2;
}

.burbuja-individual {
    position: absolute;
    border-radius: 100%;
    /* ajustar bottom dependiendo de cual es el piso desde donde salen las burbujas
    */
    bottom: 15px;
    background-color: #fff;
    z-index: 3;
    opacity: 0.5;
}