#moe-img {
    position: absolute;
    left: 0px;
    width: 1px;
    filter: opacity(0.9)
}
.menu-main {
    list-style: none;
}
.menu-main .item-name {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 3px black; 
}
.chair {
    width: 68%;
}
.chair a {
    text-decoration: none;
}
.chair a:hover {
    text-decoration: none;
}