.header {
    background-image: url("../imagenes/moes-bar.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    /*border: 5px dotted blue;
    box-sizing: border-box;*/
}
#moe-img {
    position: relative;
    left: 0px;
    width: 7rem;
    margin-top: 11rem;
    margin-bottom: 3rem;
}
.menu-main {
    list-style: none;
}
.menu-main .item-name {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 3px black; 
}
.chair {
    width: 68%;
}
.chair a {
    text-decoration: none;
}
.chair a:hover {
    text-decoration: none;
}