html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #020202;
}
#map {
    height: 100%;
}
.icon-contact {
    color: white;
    font-size: 7rem;
}
.subscripcion {
    background-color: #020202 ;
    color: white;
}
.subscripcion h3 {
    color: white;
    font-size: 1rem;
    margin-bottom: .3rem;
}
.subscripcion p {
    color: #E8B504;
    font-size: 2rem;
    margin-bottom: .3rem;
}
/* CAROUSEL */
.productos {
    background-color: #020202;
}
.productos hgroup {
    margin: .7rem 0;
}
.productos .invitacion {
    color: white;
    font-size: 1.3rem;
    margin: 0;
}
.productos .titulo {
    color: #E8B504;
    font-size: 2rem;
}
.slider-productos {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* border: 3px solid blue;
    box-sizing: border-box; */
}
  
#carousel {
    position: relative;
    height: 400px;
    top: 50%;
    /* transform: translateY(-50%); */
    overflow: hidden;
    /* border: 3px solid red;
    box-sizing: border-box; */
}
#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}
#carousel div img {
    width: 400px;
    transition: width 1s;
    border-radius: 1rem;
    /* border: 3px solid orange;
    box-sizing: border-box; */
}
#carousel div .info {
    /* border: 1px solid yellowgreen; */
    margin-top: -100px;
    color: white;
    width: 100%;
    padding: 0 .6rem;
}

#carousel .next .info .title,
#carousel .prev .info .title{
    display: none;
    font-size: 1rem;
}
#carousel .nextRightSecond .info .title,
#carousel .prevLeftSecond .info .title{
    display: none;
    font-size: .7rem;
}

#carousel .next .info .descripcion,
#carousel .prev .info .descripcion{
    display: none;
    font-size: .8rem;
}
#carousel .nextRightSecond .info .descripcion,
#carousel .prevLeftSecond .info .descripcion{
    display: none;
    font-size: .7rem;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
    width: 200px;
}
#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
    width: 200px;
}
#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
    width: 300px;
}
#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}
#carousel div.prevLeftSecond img {
    width: 200px;
}
#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
    width: 300px;
}
#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}
#carousel div.nextRightSecond img {
    width: 200px;
}

.buttons {
    /* position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px; */
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.btn-duff {
    background-color: #bc921e;
    color: white;
    margin: 0 .5rem;
    display: inline-block;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #bc921e;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* BEER ANIMATION */
#dribbble {
	color: #EC4E8B;
}

#hetic {
	color: #6FB400;
}

#text {
	position: absolute;
	top: 335px;
	left: 150px;
	font-family: "futura std";
	color: white;
}

a {
	text-decoration: none;
}

#glass {
	width: 70px;
    height: 110px;
    background: transparent;
    border: solid 3.5px white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 60px;
    left: 120px;
    overflow: hidden;
    transform: rotate(-20deg);
    -webkit-animation: glass 10s infinite;
}
	
#poignet {
    width: 30px;
    height: 55px;
    background: transparent;
    border: solid 3.5px white;
    position: absolute;
    top: 50px;
    left: 180px;
    border-radius: 0 16px 16px 0;
    border-left: none;
    transform: rotate(-20deg);
	-webkit-animation: poignet 10s infinite;
    z-index: 4;
} 

#beer {
	width: 65px;
	height: 108px;
	background: transparent;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
#beer::before {
    content: "";
    width: 200px;
    height: 103px;
    background-color: #E8B504;
    position: absolute;
    top: 86px;
    left: -54px;
    transform: rotate(40deg);
    -webkit-animation: beer 10s infinite;
}
#logo {
    background-image: url( '../imagenes/duff.jpg' );
    background-size: cover;
    width: 55px;
    height: 55px;
    position: absolute;
    left: 4px;
    top: 24px;
}
#mousse_1 {
	position: absolute;
	top: 45px;
	left: 175px;
	z-index: 4;

}
#mousse_1::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 10s infinite;
}

#mousse_1::after {
    content: "";
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    -webkit-animation: mousse 10s infinite;
}

#mousse_2 {
	position: absolute;
	top: 45px;
	left: 160px;
	z-index: 4;
}
#mousse_2::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 10s infinite;
}

#mousse_2 ::after {
    content: "";
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 10px;
    -webkit-animation: mousse 10s infinite;
}

#mousse_3 {
	position: absolute;
	top: 45px;
	left: 115px;
	z-index: 4;
}
#mousse_3::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 10s infinite;
}

#mousse_3::after {
    content: "";
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 15px;
    -webkit-animation: mousse 10s infinite;
}

#mousse_4 {
	position: absolute;
	top: 43px;
	left: 133px;
	z-index: 4;
}
#mousse_4::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse 10s infinite;
}
#mousse_4::after {
    content: "";
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    -webkit-animation: mousse 10s infinite;
}

#mousse_5 {
	position: absolute;
	top: 50px;
	left: 155px;
	z-index: 4;
	-webkit-animation: mousse 10s infinite;
	
}
#mousse_5::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
}

#mousse_volante {
	position: absolute;
	top: 125px;
    left: 150px;
	z-index: 4;
}
#mousse_volante::before {
    content: "";
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: -22px;
    -webkit-animation: mousse_volante 10s infinite;
}

#mousse_volante::after {
    content: "";
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 22px;
    -webkit-animation: mousse_volante 10s infinite;
}

#mousse_interieur {
	position: absolute;
	top: 140px;
    left: 140px;
	z-index: 4;
	opacity: 0.9;
}
#mousse_interieur::before {
    content: "";
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 10s infinite;
}

#mousse_interieur::after {
    content: "";
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 30px;
    -webkit-animation: mousse_interieur 5s infinite;
}
#mousse_interieur_2 {
	position: absolute;
    top: 137px;
    left: 145px;
	z-index: 4;
	opacity: 0.9;
}
#mousse_interieur_2::before {
    content: "";
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 10s infinite;
}

#mousse_interieur_2::after {
    content: "";
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 17px;
    -webkit-animation: mousse_interieur 5s infinite;
}

#mousse_interieur_3 {
	position: absolute;
	top: 160px;
    left: 158px;
	z-index: 4;
	opacity: 0.9;
}
#mousse_interieur_3::before {
    content: "";
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 10s infinite;
}

#mousse_interieur_3::after {
    content: "";
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 12px;
    -webkit-animation: mousse_interieur 5s infinite;
}

#mousse_interieur_4 {
	position: absolute;
	top: 137px;
    left: 173px;
	z-index: 4;
	opacity: 0.9;
}
#mousse_interieur_4::before {
    content: "";
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mousse_interieur 10s infinite;
}

#mousse_interieur_4::after {
    content: "";
    width: 5.5px;
    height: 5.5px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 28px;
    left: 2px;
    -webkit-animation: mousse_interieur 5s infinite;
}

/* ANIMATIONS */

@-webkit-keyframes beer {
	0% {
		transform: translateY(-5);
	}
	17% {
		transform: translateY(-82px);	
	}
	100% {
		transform: translateY(-82px);
	}
}

@-webkit-keyframes glass {
	0% {
		transform: rotate(-20deg);
	}
	
	17% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(0deg);
	}
}


@-webkit-keyframes poignet {
	0% {
		transform: rotate(-20deg);
	}
	17% {
		transform: rotate(0deg) translateX(5px) translateY(20px);
	}
	
	100% {
		transform: rotate(0deg) translateX(5px) translateY(20px);
	}	
}

@-webkit-keyframes mousse {
	0% {
		transform: scale(0);
	}
	10% {
		transform: scale(0);
	}
	20% {
		transform: scale(1);
	}
}

@-webkit-keyframes mousse_volante {
	0% {
		transform: scale(0)
			translateY(0px);
	}
	10% {
		transform: scale(0)
			translateY(0px);
	}
	20% {
		transform: scale(1) translateY(-20px);
	}
	
	40% {
		opacity: 0;
	}
	
	100% {
		transform: scale(1) translateY(-80px);
		opacity: 0;
	}
}

@-webkit-keyframes mousse_interieur {
	0% {
		transform: scale(0)
			translateY(0px);
	}
	20% {
		transform: scale(0)
			translateY(0px);
	}
	40% {
		transform: scale(1) translateY(-60px);
	}
	
	50% {
		opacity: 0;
	}
	
	100% {
		transform: scale(1) translateY(-60px);
		opacity: 0;
	}
}

/*SERVICIOS*/
.servicios h1,
.servicios h3 {
    color: #E8B504;
}
.servicios h2,
.servicios p {
    color: white;
}
.card {
    background-color: #E8B504;
    border: 1px solid #E8B504;
}
.card-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.98rem;
    text-align:justify;
}
.card-title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
/** NOSOTROS: Team */
section {
    width: 100%; 
    padding: 5% 0px;
}
a, a:hover {
    text-decoration: none;
}
.item {
    margin:0px auto;
    background-color: #E8B504 !important;
}
h2, h3, h4, h5 {
    margin: 0px;
}

.item {
    background-color:#fff; 
}
.item .image {
    overflow: hidden; 
}
.item .image img { 
    width: 100%; 
}

.item .text {
    padding: 2em; 
    text-align: center;
}
.secondary .item .text {
    padding: .5rem 0;
}

.secondary .item .text h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.secondary .item .text h2 a {
    text-align: center;
    padding: 0 0 .7rem 0;
}

.secondary .item .text h4 {
    margin: 0;
    padding: .7rem 0;
    font-size: 1.4rem;
}
.secondary .item .text h4 a {
    text-align: center;
}
.redes {
    padding: 1.4rem 0;
}

.item .text figcaption {
    position: relative; 
    z-index: 1; 
}
.item .text a {
    color:rgba( 0, 0, 0, 0.70) ;
}
.item .text p {
    color:rgba( 0, 0, 0, 0.70 ); 
    line-height: 22px; 
    font-weight: 300;
    font-size: 13px;
}
.item .text .fa {
    font-size: 18px;
    width: 35px;
    height: 35px;
    padding: 8px;
    border: solid 1px rgba(0,0,0,0.8);
    border-radius: 50%;
}

@media ( max-width: 768px ) {
    .item {
        width:100%;
    }
}
/** Contacto */
.contacto h1 {
    color: #E8B504;
}
.contacto p {
    color: white;
}
.contacto .title {
    color: #E8B504;
}
.contacto .description {
    color: white;
}
.btn-contacto {
    background-color: #E8B504;
    color: white;
    margin: 0 .5rem;
    display: inline-block;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #bc921e;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.quienes-somos h3,
.mision-vision h3,
.team h3 {
    color: #E8B504 !important;
}
.quienes-somos p,
.mision-vision p {
    color: white !important;
}
